fastapi
uvicorn
python-dotenv
motor
pymongo
requests
httpx
bs4
beautifulsoup4
pillow
aiohttp
celery
passlib
bcrypt
pyjwt
scikit-learn
numpy
langchain
langchain-community
openai
newsapi-python
email-validator

x7Fbgpi:k'12gr7